.App {
  text-align          : center;
  display             : flex;
  flex-direction      : column;
  opacity             : 1;
  -webkit-transition  : opacity 500ms ease-in;
     -moz-transition  : opacity 500ms ease-in;
       -o-transition  : opacity 500ms ease-in;
          transition  : opacity 500ms ease-in;
}

.App-hidden {
  text-align          : center;
  display             : flex;
  flex-direction      : column;
  opacity             : 0;
}

.Game {
  display             : flex;
  justify-content     : center;
  align-items         : center;
}

table {
  width               : 50vh;
  height              : 50vh;
  border-collapse     : collapse;
}
td {
  text-align          : center; 
  vertical-align      : middle;
  border              : transparent;
}
